
/* PC向け */

/* body全体のデフォルトスタイル設定 */
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /* text color */
    color : black;
    /* background color */
    background : rgb(175, 170, 164);
}

/* クラスでまとめてスタイル設定 */
.class1{
    box-sizing:border-box;
    font: 18px Helvetica;
    height: 40px;
    width: 100px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    border-width: 2px;
    border-color: black;
    color : white;
    background : gray;
    border-radius : 10px;
    margin: 5px;
}


/* 個別のボタンidに対してスタイル設定 */
#id3{
    width: 120px;
    border-color: yellow;
    color : yellow;
    background : black;
}