/* Default shared settings (for moble and pc) */

/* Settings for all in body */
body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    /* text color */
    color : black;
    /* background color */
    background : rgb(175, 170, 164);
}

/* Setting for Class "class1" */
.button{
    box-sizing:border-box;
    
    cursor: pointer;
    text-align: center;
    align-items: center;

    border-width: 2px;
    border-color: black;
    color : white;
    background : gray;
    
    
}

.input{
    width: 40px;
    text-align: center;
    align-items: center;
    background-color: lightyellow;
}

/* 個別のボタンidに対してスタイル設定 */
#id3{
    width: 120px;
    border-color: yellow;
    color : yellow;
    background : black;
}